.buttonDiv2 {
  background-color: #E29E3A;
  font-style: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.dogHouseCards {
  display: flex;
}

.dogHouseImg{
  width:425px;
  height:375px;
  padding-left: 20px;
  padding-top: 30px;
}

.overview{
  align-items: center;
  justify-content: flex-end;
  position: relative;
  left: 100px;
  top: 80px;
  flex-wrap: wrap;
}
