



.form {
  align-items: center;
  justify-content: flex-end;
  position: relative;
  left: 345px;
  top: 80px;
  flex-wrap: wrap;
}

.form div {
  padding: 2px;
}

.submitButton {
  background-color: #E29E3A;
  padding-top: 20px;
  font-style: bold;
  color: white;
  border: none;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

.submitButton:hover{
  color: white;
  background-color: #A45922;
}

.rez {
  align-items: center;
  justify-content: flex-end;
  position: relative;
  left: 345px;
  top: 80px;
  flex-wrap: wrap;
}

.rez div {
  padding: 2px;
}

.banner3{
  background: url(https://image.freepik.com/free-vector/happy-family-walks-around-city-park-father-mother-son-daughter-together-outdoors-vector-illustration-cartoon-style_165429-121.jpg);
  height: 40vh;
  position: relative;
  background-repeat:no-repeat;
  background-size: 100%;
}
