@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* color: #A45922; */
}

.logo {
  width: 85px;
  height:auto;
  border-left: 30px;
}

li {
  font-weight: 500;
  font-size: 24px;
  color: black;
  list-style-type:none;
  font: Open;
}

.navBar{
  background-color:  white;
  font-family: "Pattaya";
  border-width: 2px;
  color: #A45922;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
}

.navLinks {
  list-style:none;
}

.navLinks li {
  display: inline-block;
  padding: 10px 10px;
  align-items: center;
  text-decoration: none
}

.navLinks li a:hover {
  color: gray;
}
